@mixin text-xs {
  font-size: 12px;
}

@mixin text-sm {
  font-size: 14px;
}

@mixin text-base {
  font-size: 16px;
}

@mixin text-lg {
  font-size: 18px;
}

@mixin text-xl {
  font-size: 20px;
}

@mixin text-2xl {
  font-size: 24px;
}

@mixin text-3xl {
  font-size: 30px;
}

@mixin text-4xl {
  font-size: 36px;
}

@mixin text-5xl {
  font-size: 48px;
}

@mixin text-6xl {
  font-size: 60px;
}

@mixin text-7xl {
  font-size: 72px;
}

@mixin text-8xl {
  font-size: 96px;
}

@mixin text-9xl {
  font-size: 128px;
}
