@use "../styles/abstracts/variables-colors" as colors;
@use "../styles/abstracts/mixins-screens" as screens;
@use "../styles/abstracts/mixins-text-sizes" as textSizes;
@use "../styles/layouts/responsive" as responsive;

#hero {
  background-image: url("/assets/images/wallpapers/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 85vh;

  .container {
    @include responsive.container;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrapper {
      & > * {
        margin: 10px 0;
      }

      h1,
      p {
        color: colors.$slate;
      }

      h1 {
        @include textSizes.text-3xl;

        @include screens.tabletAndDesktop {
          @include textSizes.text-5xl;
        }
      }

      p {
        @include textSizes.text-xl;
      }
    }
  }
}

#newProducts {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 15px;

    .product {
      width: calc((100% - (15px * 1)) / 2);

      @include screens.tabletAndDesktop {
        width: calc((100% - (15px * 2)) / 3);
      }
    }
  }
}

#about {
  background-color: colors.$slate;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include screens.tabletAndDesktop {
      flex-direction: row;
      align-items: center;
      gap: 70px;
    }

    .left,
    .right {
      @include screens.tabletAndDesktop {
        width: 50%;
      }
    }

    .left {
      *:not(:first-child) {
        margin-top: 20px;
      }

      p {
        color: colors.$slate-8;
      }
    }

    .right {
      text-align: center;

      img {
        width: 100%;

        @include screens.tabletAndDesktop {
          width: 80%;
        }
      }
    }
  }
}
