@use "../abstracts/mixins-screens" as screens;

@font-face {
  font-family: "Gotham Medium";
  src: url("/assets/fonts/Gotham Medium.otf");
}

* {
  font-family: "Gotham Medium", Arial, Helvetica, sans-serif;
}
